<%- include("header") -%>

<p>This is about pages</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit culpa earum alias rem ab eos aspernatur unde eius corrupti odit! Veritatis corrupti atque veniam. Quo alias dolorum enim in blanditiis possimus cum odio aspernatur.</p>

<%- include("footer") -%>